*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri;
}

.topbar {
    height: 50px;
    background-color: #ffd800;
    padding: 15px 15px;
}

.sidebar {
    width: 250px;
    height: 1000px;
    background-color: #f5f5f5;
    float: left;
    padding:10px;
}

    .sidebar a {
        text-decoration: none;
        font-size: 13pt;
        display: block;
        padding: 7px 3px;
        color: black;
        border-bottom: 1px solid #3f743b;
    }
            
        .sidebar a:hover {
            background-color: #d0d0d0;
            padding: 10px ;
            color: white;
        }

.container {
    width: 1200px;
    padding: 10px;
    float: left;
}

.CounterSide {
}

    .CounterSide .box {
        float: left;
        margin: 10px;
        border-radius: 10px;
        padding: 15px;
        width: 190px;
        background-color: #ffdf87;
        font-size: 15pt;
    }

        .CounterSide .box h3 {
            padding: 5px;
            border-bottom: 2px solid #f6c43a;
        }

.formheader {
    font-size: 18pt;
    color: #ffd800;
    padding:3px;
    border-bottom: 3px solid #ffd800;
}

.linkbutton {
    text-decoration: none;
    font-size: 13pt;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #3dd129;
}   

.listtable {
    margin-top:20px;
    width: 100%;
    border: 1px solid black;
    border-radius:2px;
}

    .listtable tr th {
        background-color: #ffffff;
        border-bottom: 1px solid black;
        padding: 7px 3px;
        text-align: left;
    }

    .listtable tr td {
        border-bottom: 1px solid silver;
        padding: 7px 3px;

    }

.listbtn{
    padding:5px;
    text-decoration:none;
    color:black;
    border-radius:3px;
}
.btnduzenle {
    background-color: dodgerblue;
}
.btnsil{
    background-color:red;
    padding:5px 10px;
}

.row{
    padding:15px;
}
.forminput{
    width:100%;
    height:20px;
    padding:5px;
}
.formlabel {
    display: block;
    padding: 5px 0;
    font-size:15pt;
}
.backbutton {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: silver;
    float:right;
}
.backbutton:hover{
    color:black;
}
.formbutton {
    padding: 10px 15px;
    border-radius:5px;
    background-color: #3dd129;
    border:none;
}
.formbutton:hover {
    background-color:#33b903
}
.pasifkategori{
    color:red;
}