@model IEnumerable<EfeogluHırdavat.Models.Category>
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="form">
    <div class="formheader">
        Kategori Ekleme Paneli
    </div>
    <div class="formcontent">

    </div>
</div>